.idea-location {
    height: 200px;

    &__map {
        height: 100%;
    }
}

.idea-cluster {
	width: 100%;

	#idea-cluster-map {
		height: 350px;
		margin: 15px 0 15px 0;

	  	p {
	  		margin-top: 0px;
		}
	}
}
